@use '../base/index' as *;

.burger-btn {
	@include reset-btn;
	@include square(48px);

	position: relative;
	border-radius: var(--border-radius-small);

	@include hover {
		background-color: var(--color-accent);
	}
	// Создаём полосы 
	&::after {
		// Миксин для центрирования элементов
		@include abs-center;
		
		content: '';
		width: 50%;
		height: 2px;
		background-color: var(--color-dark);
		border-radius: 5px;
		// отзеркаливаем полосы по вертекали и горизонтали
		box-shadow: 0 -8px, 0 8px ;
	}
}